@model List<Inventory_Management_System.Models.Product>

@{
    ViewData["Title"] = "Products";
    // Determine the total number of pages based on the page size and total item count
    var pageSize = 16; // Number of items per page
    var totalItems = Model.Count;
    var pageCount = (totalItems + pageSize - 1) / pageSize;

}

<head>
    <link href="~/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>

<style>
    body {
        font-family: 'Raleway', sans-serif;
        margin: 0;
        background-color: #f0f0f0;
    }

    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 0 20px;
    }

    .header {
        text-align: center;
    }

    .search-bar {
        margin-bottom: 20px;
    }

    .product-card {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        text-align: center;
        flex-basis: calc(25% - 20px);
        box-sizing: border-box; /* Ensure padding and border are included in the width */
    }

    .product-card:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .product-card h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .product-card p {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .product-card img {
        max-width: 100%;
        height: auto;
        max-height: 250px;
        margin-bottom: 10px;
    }

        .product-card a {
            color: inherit; /* Inherit text color */
            text-decoration: none; /* Remove underline */
        }

    .pagination {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .pagination-page-button {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
        transition: background-color 0.3s ease;
    }

    .pagination-page-button:hover {
    background-color: #333;
    color:white;
    border: 0px;
    }

    /* Footer */
    footer {
        background-color: #343a40;
        color: #fff;
        padding: 0px 0;
        text-align: left; /* Align text to the left */
        position: absolute;
        width: 101.3%;
        margin-top: 25px;
        margin-bottom: -40px;
    }

        footer button.btn-primary {
            background-color: #0d6efd;
            border-color: #0d6efd;
            color: #fff;
            padding: 6px 10px; /* Adjust button padding for smaller size */
            margin-top: 10px; /* Add margin to separate from form */
            font-size: 14px; /* Adjust font size */
            width: 35%;
        }

        footer .form-group {
            margin-bottom: 10px; /* Remove bottom margin for form group */
        }

        footer .signup-link {
            text-align: left; /* Align signup text to the left */
            margin-top: 20px; /* Add top margin to separate from form */
        }

            footer .signup-link a {
                color: #007bff;
                text-decoration: none;
            }

        footer .input-group {
            margin-bottom: 10px; /* Add margin below input group */
        }

        footer .input-group-append .btn {
            padding: 8px 12px; /* Adjust button padding for smaller size */
        }

        footer h4, footer h5 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        footer ul {
            list-style: none;
            padding: 0;
        }

            footer ul li {
                margin-bottom: 0.5rem;
            }

                footer ul li a {
                    color: #fff;
                    text-decoration: none;
                }

                    footer ul li a:hover {
                        color: #ccc;
                    }
</style>

<div class="container">
    <div class="header">
        <h1>Our Products</h1>
    </div>
    <div class="search-bar">
        <form method="get">
            <input type="text" name="searchQuery" placeholder="Search products..." class="form-control" />
            <button type="submit" style="margin-top:5px;" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3">
                <div class="product-card">
                    <a href="@Url.Action("ProductItems", "Product", new { id = product.ProductID })">
                        @if (!string.IsNullOrEmpty(product.ProductImg))
                        {
                            <img src="@product.ProductImg" alt="@product.ProductName" />
                        }
                        <h2>@product.ProductName</h2>
                        <p>Price: $@product.ProductPrice</p>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="pagination">
        @for (int i = 1; i <= (int)ViewData["PageCount"]; i++)
        {
            <a href="@Url.Action("Products", new { page = i, searchQuery = ViewData["SearchQuery"] })" class="pagination-page-button @(i == (int)ViewData["CurrentPage"] ? "active" : "")">@i</a>
        }
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="https://res.cloudinary.com/dup5hdi05/image/upload/v1715090528/ware-master-high-resolution-logo-transparent_2_xnts9o.png" alt="Company Logo" style="height: 30px; width: 200px;">
            </div>
            <div class="col-md-3">
                <h4><strong>About Us</strong></h4>
                <ul class="list-unstyled">
                    <li><a href="/home/contactus">Contact</a></li>
                    <li><a href="/home/faqs">FAQs</a></li>
                    <li><a href="/home/aboutus">About Us</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h4><strong>Terms</strong></h4>
                <ul class="list-unstyled">
                    <li><a href="/home/privacy">Privacy</a></li>
                    <li><a href="/home/termsandservices">T&S</a></li>
                    <li><a href="/home/refundpolicy">Refund Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Subscribe</h4>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
                <p>By subscribing, you agree to our Privacy Policy and consent to receive updates.</p>
            </div>
        </div>
    </div>
</footer>
