@model IEnumerable<Inventory_Management_System.Models.Supplier>

@{
    ViewData["Title"] = "Suppliers";
}

<h1>Suppliers List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Supplier Name</th>
            <th>Location</th>
            <th>Contact Details</th>
            <th>Products</th>
            <th>Created By</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.SupplierName</td>
                <td>@supplier.Location</td>
                <td>@supplier.ContactDetails</td>
                <td>
                    @if (!string.IsNullOrEmpty(supplier.Products))
                    {
                        string[] products = supplier.Products.Split(';');
                        foreach (var product in products)
                        {
                            <span>@product</span>

                            <br />
                        }
                    }
                    else
                    {
                        <span>No products associated</span>
                    }
                </td>
                <td>@supplier.CreatedBy</td>
                <td>@supplier.CreatedAt</td>
                 @if (supplier.UpdatedAt == DateTime.MinValue)
                {
                    <td>N/A</td>
                }
                else
                {
                    <td>@supplier.UpdatedAt</td>
                }
                <td>
                    <a asp-action="EditSupplier" asp-route-id="@supplier.SupplierID">Edit</a> |
                    <a asp-action="ConfirmDeleteSupplier" asp-route-id="@supplier.SupplierID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="AddSupplier">Add New Supplier</a>